# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
vite5193.log

# Environment files
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
